@inject SampleData ds;
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
<div class="ej-sb-header">
    <div class="ej-sb-left-side">
        <div class="ej-sb-hamburger-icon ej-sb-icons" onclick="onHamBurgerClick()"></div>
        <div class="ej-sb-platform-name">Bold Reports for ASP.NET Core</div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                @{

                    var data = ds.getSampleData();

                    <a class="dropdown-item active">@data.platform</a>
                    foreach (var platform in data.otherPlatforms)
                    {
                        <a class="dropdown-item" onclick='platformSwitcher("@platform.Name")'>@platform.Name</a>
                    }
                    

                }

            </div>
        </div>
    </div>
    <div class="ej-sb-right-side">
        <!-- We hided this element as per management instruction -->
        @* <a class="ej-sb-button nav-link bold-schedule-demo" href="https://www.boldreports.com/schedule-free-demo" target="_blank" rel="noreferrer">Schedule Free Demo</a> *@
        <a class="ej-sb-button nav-link product-detail" href='@(Context.Request.Path.Value.Contains("report-viewer") ? Configuration["externalURLs:productDetailViewer"] : (Context.Request.Path.Value.Contains("report-designer") ? Configuration["externalURLs:productDetailDesigner"] : Configuration["externalURLs:productDetailWriter"]))' target="_blank" rel="noreferrer">Product Detail</a>
        <a class="ej-sb-button nav-link try-it-free" href="@Configuration["externalURLs:tryItFree"]" target="_blank" rel="noreferrer">Try it Free</a>
    </div>
</div>