@inject SampleData ds;
<!DOCTYPE html>
<html style="height: 100%; width: 100%;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@ViewBag.Description" />
    <title>@ViewBag.Title</title>
    <script>
        function validateBrowser() {
            var uaValidate = navigator.userAgent.match(/(MSIE |Trident.*rv[ :])([0-9]+)/);
            if (uaValidate != null)
                return uaValidate[2];
            return null;
        }
        var ieVer = validateBrowser();
        if (ieVer != null && ieVer < 11) {
            if (!location.origin) {
                location.origin = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port : '');
                location.href = location.origin + '/error.html';
            }
        }
    </script>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-K73VBT8');</script>
    <!-- End Google Tag Manager -->
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />

    <link href="~/bundles/preview/app.min.css" rel="stylesheet" />
    
</head>
<body>
    <div hidden id="reports-analytics" data-queue="Bold Reports - Demos - ASP.NET Core"></div>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K73VBT8"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    @RenderBody()
    <div class="splash">
        <div class="message">ASP.NET Core Reports</div>
        <div class="loader">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <script src="~/bundles/preview/vendor.min.js" asp-append-version="true"></script>
    <style>
        body, .ej-body {
            height: 100%;
            margin: 0;
            width: 100%;
            overflow: hidden;
        }

        #description {
            display: none;
        }

        #reportviewer_param_block_table .switchstyle {
            margin-top: 10px;
            margin-left: 10px;
        }

        #reportviewer_param_block_table .e-reportviewer-viewerblockcellcontent {
            padding-right: 10px;
        }

        #reportviewer_param_block_table .e-chkbox-wrap {
            padding-top: 5px;
            padding-left: 5px;
        }

        #reportviewer_param_block_table .e-reportviewer-label {
            padding-top: 5px;
        }

        #reportdesigner_reportName {
            visibility: hidden;
        }
    </style>
    <div class="ej-body e-hidden">
        <div class="ej-preview-header">
            <div class="ej-preview-left-side">
                <a id="home_page" href="/" target="_blank" rel="noreferrer">
                    <div class="ej-preview-platform-name">Bold Reports for ASP.NET Core</div>
                </a>
            </div>
            <div class="ej-preview-right-side">
                <!-- We hided this element as per management instruction -->
                @* <a class="ej-preview-button bold-schedule-demo" href="https://www.boldreports.com/schedule-free-demo"
                    title="Report Server" target="_blank" rel="noreferrer">Schedule Free Demo</a> *@
                <a class="ej-preview-button product-detail" href=@(ViewBag.isDesigner ? "https://www.boldreports.com/embedded-reporting/aspnet-core-report-designer" : "https://www.boldreports.com/embedded-reporting/aspnet-core-report-viewer") target="_blank" rel="noreferrer">Product Detail</a>
                <a class="ej-preview-button try-it-free" href="https://app.boldid.net/reporting/embedded/register?plan=128&evaluation=v2&leadsource=demos.boldreports.com&gclid=&referrerroriginurl=https://demos.boldreports.com/pricing&secondaryreferraloriginurl=https://demos.boldreports.com/"
                    title="Report Server" target="_blank" rel="noreferrer">Try it Free</a>
            </div>
        </div>
        <div class="ej-preview-content">
            @RenderSection("control", true)
        </div>
        @RenderSection("description", false)
    </div>

    <script>
        let reportSampleData;
        let reportSamples;
        let reportBasePath;
        let reportRouterPath;

        function getReportSampleData() {
            return @Html.Raw(ds.getSampleData());
        }
        function getBasePath() {
            return "@Url.Content("~/")";
        }
    </script>
    <script src="~/bundles/preview/app.min.js"></script>
    <bold-script-manager></bold-script-manager>
</body>

</html>